.card {
    width: 230px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    @include boxShadow;
    @include borderRadiusButtons;
    cursor: pointer;

    .btnShop {
        width: 50%;
        height: 50%;
        @include borderRadiusButtons;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: background-color 0.3s;
            color: $colorLight;
            // text-transform: capitalize;

            &:hover {
                color: $hoversLinks;
                
            }
        }
    }

    img {
        @include totalSize;
        object-fit: contain;
    }

    .cardFront,
    .cardBack {
        @include totalSize;
        @include gridCenter;
        @include borderRadiusButtons;
        backface-visibility: hidden;
        position: absolute;
        text-align: center;
        padding: 10px;

        &:hover {
            @include boxShadow;
        }
    }

    .cardFront {
        transform: rotateY(0deg);
        transition: transform 0.5s;
        background-color: $backgroundLight;
    }

    .cardBack {
        transform: rotateY(180deg);
        transition: transform 0.5s;
        background-color: #f0f0f0;
        @include gridCenter;
        grid-template-rows: 60% 40%;
    }

    &:hover {
        .cardFront {
            transform: rotateY(-180deg);
        }

        .cardBack {
            transform: rotateY(0deg);
        }
    }
}
