#blockBtnWatch {
  @include totalSize;
  @include flexCenter;
  #btnWatchProduct {
    height: 70%;
    width: 50%;
    @include borderRadiusButtons;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    margin: auto 0;

    &:hover {
      background-color: $hoversButtons;
      color: $backgroundLight;
      @include boxShadow;
      @include transitionHover;
    }
  }
}

.modalBox {
  background-color: $headersColors;
  height: 80%;
  width: 70%;
  margin: 0 auto;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#modalProducts {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 60px auto;
  #headerModal {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 60px;

    h3 {
      color: $backgroundLight;
      font-size: 1.5rem;
      text-align: center;
      text-transform: capitalize;
    }

    button {
      background-color: $headersColors;
      color: $backgroundLight;
      font-size: 1.5rem;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  #contenProductModal {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 90% 10%;
    place-content: center;
    height: 400px;

    .imgProduct {
      @include totalSize;
      img {
        @include totalSize;
        object-fit: contain;
      }
    }

    .informationProductModal {
      @include gridCenter;
      grid-template-rows: 15% 45% 15% 15%;
      text-align: center;
      color: $backgroundLight;
      font-size: 1.2rem;
      cursor: default;

      .descriptionProduct {
        padding: 0 10px;
      }
    }

    .addShopCar {
      @include totalSize;
      @include flexCenter;
      grid-column: 2 / span 2;

      #stockProductShop {
        height: 100%;
        width: 30px;
        border-radius: 10px;
        border: none;
        text-align: center;
        margin-right: 10px;
      }

      .addProductCar {
        height: 60px;
        width: 80px;
        margin-left: 10px;

        img {
          height: 100%;
          width: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
