.titleCategoryproduct {
    background-color: $headersColors;
    text-align: center;
    height: 40px;
    color: $backgroundLight;
    font-size: 1rem;
}

.productsList {
    width: 100%;
    margin: 350px auto;
    
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: auto;
    row-gap: 2%;
    place-content: center;
}